html,
body {
  margin: 0px;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.go-back {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 50px;
  width: 200px;
  height: 200px;
  text-align: center;
  border: solid;
  border-radius: 20px;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.go-back a {
  color: white;
  text-decoration: none;
}

.go-back a:hover {
  color: purple;
  text-decoration: underline;
}

.go-back a:active {
  color: white;
  text-decoration: underline;
}

.go-back button {
  background-color: orangered;
  padding: 10px;
  border: solid 2px;
  border-color: black;
  border-radius: 10px;
}

.go-back button:hover {
  background-color: darkred;
  color: white;
}

.go-back button:active {
  background-color: white;
  color: orangered;
  border-color: orangered;
}
